$bg-gray: #5c5c5c;

$text-dark: #000;
$text-light: #fff;

$label-color: #333F51;

$input-border: #D5DAE1;
$input-placeholder: #BBC3CF;

$gray-500: #556987;
$gray-800: #333F51;

$button-text: #F0FDF4;
$button-bg: #22C55E;
$button-hover: #239b4f;
$button-active: #21723e;
